body {
  background-image: url("corkboard2.jpg");
  background-size: contain;
  font-size: 62.5%; }

header {
  background-image: url("pinkPennant.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.headerImage {
  width: 15%; }

.headerImage img {
  max-width: 100%; }

.headerImage {
  position: absolute;
  right: -2%;
  top: 25%;
  transform: rotate(-35deg); }

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  margin: 10px auto;
  text-align: center;
  width: 50%;
  background-color: #fffff6;
  border-radius: 5px;
  padding: 10px; }

label {
  display: none; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px; }

form {
  width: 50%;
  background-color: #fffff6;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid black; }

form h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem; }

input[type="text"] {
  width: 85%;
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  background-color: #fffff6;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.4rem; }

input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Permanent Marker', cursive; }

.goals h3 {
  background-color: #fffff6;
  border-radius: 5px;
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;
  width: 200px;
  text-align: center; }

.images {
  width: 22%; }

.images img {
  max-width: 100%;
  max-height: 200px;
  background: white;
  padding: 8px;
  border: 1px solid #999999; }

.goals h3 {
  position: absolute;
  z-index: 1; }

.goals h3:first-child {
  top: 15%;
  right: 10%;
  transform: rotate(5deg); }

.goals h3:nth-child(2) {
  top: 17%;
  left: 10%;
  transform: rotate(-5deg); }

.goals h3:nth-child(3) {
  bottom: 30%;
  right: 5%; }

.goals h3:nth-child(4) {
  bottom: 25%;
  left: 10%;
  transform: rotate(5deg); }

.photoList .images {
  position: absolute; }

.images:first-child {
  top: 27%;
  right: 10%;
  transform: rotate(-4deg); }

.images:nth-child(2) {
  bottom: 1%;
  left: 10%; }

.images:nth-child(3) {
  top: 31%;
  left: 2%; }

.images:nth-child(4) {
  bottom: 5%;
  right: 8%;
  transform: rotate(5deg); }

.modal {
  text-align: right;
  margin: 0 20px 5px 0; }

.modalButton {
  border-radius: 50%;
  font-size: 2rem;
  padding: 0 10px;
  background-color: black;
  color: white;
  border: none; }

.modalInfo {
  position: absolute;
  left: 20%;
  bottom: 12%;
  width: 50%;
  padding: 70px;
  border-radius: 5%;
  background-color: #92d4c5;
  z-index: 3; }

.modalInfo h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive; }

.modalInfo p {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Shadows Into Light', cursive; }

.modalInfo i {
  font-size: 1.2rem; }

.goalList {
  width: 25%;
  margin: 0 auto;
  font-size: 1rem;
  font-family: 'Shadows Into Light', cursive;
  border: none;
  background-color: white;
  text-align: center; }

.goalList h4 {
  margin: 0;
  margin-top: 10px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.4rem;
  border-bottom: 2px solid pink; }

.goalListForm {
  border: none;
  margin: 0 auto;
  background-color: white; }

.goalListForm input[type="text"] {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 0;
  font-size: 1rem; }

.goalListForm input[type="submit"] {
  font-size: 1rem;
  font-family: 'Shadows Into Light', cursive;
  border: 1px solid black; }

.goalList button {
  border: none;
  background-color: white;
  margin-left: 10px; }

ul {
  list-style: none;
  padding: 10px;
  margin: 0; }

li {
  border-bottom: 1px solid #ddeaf9;
  margin-bottom: 10px; }

@media (max-width: 950px) {
  header {
    display: flex;
    justify-content: flex-end; }
  h1 {
    margin: 0;
    width: 60%;
    font-size: 2.4rem; }
  form {
    width: 80%; }
  form h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8rem; }
  input[type="text"] {
    width: 80%;
    font-size: 1.2rem; }
  input[type="submit"] {
    font-size: 1.2rem; }
  .images {
    width: 25%; }
  .modal {
    margin-top: 20px; } }

@media (max-width: 750px) {
  .modalInfo {
    width: 60%;
    padding: 50px; }
  .modalInfo h2 {
    font-size: 1.2rem; }
  .modalInfo p {
    text-align: left;
    font-size: 1.2rem; }
  .images {
    width: 40%; }
  .images img {
    transform: rotate(3deg); }
  .images:nth-child(4) {
    bottom: 3%;
    right: 5%; }
  .goals h3:first-child {
    top: 10%;
    right: 10%; }
  .goals h3:nth-child(2) {
    top: 10%;
    left: 10%; }
  .goals h3:nth-child(3) {
    bottom: 30%;
    right: 5%; }
  .goals h3:nth-child(4) {
    bottom: 25%;
    left: 10%; }
  .images:first-child {
    top: 23%; }
  .images:nth-child(3) {
    top: 25%;
    left: 2%; }
  .goalList {
    margin-top: 40px;
    width: 50%;
    position: absolute;
    left: 30%;
    bottom: -50%; } }

@media (max-width: 650px) {
  h1 {
    width: 100%; }
  .modal {
    margin-top: 5px; }
  .images:nth-child(4) {
    bottom: 5%;
    right: 8%; } }

@media (max-width: 550px) {
  h1 {
    font-size: 1.6rem; }
  .modalInfo {
    left: 10%;
    bottom: 10%; }
  .photoList .images {
    position: static;
    width: 75%;
    margin: 25px auto; }
  .images:first-child, .images:nth-child(3) {
    transform: rotate(1deg); }
  .images:nth-child(2), .images:nth-child(4) {
    transform: rotate(-5deg); }
  .goals h3:first-child {
    top: 15%;
    right: 10%; }
  .goals h3:nth-child(2) {
    top: 50%;
    left: 5%; }
  .goals h3:nth-child(3) {
    bottom: 5%;
    right: 5%; }
  .goals h3:nth-child(4) {
    bottom: -25%;
    left: 10%; }
  .goalList {
    position: static; } }

@media (max-width: 450px) {
  form {
    padding: 30px; }
  form h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4rem; }
  input[type="text"] {
    width: 90%;
    font-size: 0.8rem; }
  input[type="submit"] {
    font-size: 0.8rem; }
  .modalInfo {
    padding: 20px;
    left: 8%;
    bottom: 18%;
    width: 70%; }
  .modalInfo p {
    font-size: 1rem; }
  .goalList {
    width: 70%; }
  .goalListForm {
    width: 70%; } }
