body {
  background-image: url("assets/corkboard2.jpg");
  background-size: contain;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

.banner {
  width: 30%;
  position: absolute;
  top: -1%; }

.banner img {
  max-width: 100%; }

.bannerContainer1 {
  left: 0; }

.bannerContainer2 {
  right: 0; }

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  margin: 10px auto;
  text-align: center;
  width: 50%;
  background-color: #fffff9;
  border-radius: 5px;
  padding: 15px; }

header span {
  border-bottom: 6px solid #c21734;
  border-radius: 2px; }

label {
  display: none; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px; }

form {
  width: 50%;
  background-color: #fffff9;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid black; }

form h2 {
  font-size: 1.6rem;
  letter-spacing: 1px; }

input[type="text"] {
  font-family: 'Raleway', sans-serif;
  width: 85%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  background-color: #fffff9;
  font-size: 1rem; }

input[type="submit"] {
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color: #fffff9;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 0.8s;
  background-color: #c21734;
  padding: 10px;
  border: none; }

input[type="submit"]:hover {
  background-color: #29bcb8;
  color: black; }

.goals h3 {
  font-family: 'Permanent Marker', cursive;
  background-color: #fffff6;
  border-radius: 5px;
  font-size: 2rem;
  width: 200px;
  text-align: center; }

.goals h3 {
  position: absolute;
  z-index: 1;
  transition: all 1s; }

.goals .goal0 {
  top: 20%;
  right: 12%;
  transform: rotate(5deg);
  text-decoration: underline #c21734; }

.goals .goal0:hover {
  transform: scale(1.1); }

.goals .goal1 {
  top: 17%;
  left: 10%;
  transform: rotate(-5deg);
  text-decoration: underline #29bcb8; }

.goals .goal1:hover {
  transform: rotate(10deg); }

.goals .goal2 {
  bottom: 5%;
  right: 30%;
  text-decoration: underline #fed755; }

.goals .goal2:hover {
  transform: rotate(-10deg); }

.goals .goal3 {
  bottom: 25%;
  left: 10%;
  transform: rotate(5deg);
  text-decoration: underline #f0767c; }

.goals .goal3:hover {
  transform: scale(1.2); }

@keyframes move {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(2deg); }
  95% {
    transform: rotate(1deg); } }

.images0, .images1, .images2, .images3 {
  width: 22%; }

.photoList img {
  max-width: 100%;
  max-height: 200px;
  background: white;
  padding: 8px;
  border: 1px solid #999999; }

.photoList .images0, .photoList .images1, .photoList .images2, .photoList .images3 {
  position: absolute; }

.images0 {
  top: 33%;
  right: 5%;
  transform: rotate(-4deg); }

.images1 {
  top: 31%;
  left: 2%; }

.images2 {
  bottom: 2%;
  right: 10%;
  transform: rotate(5deg); }

.images3 {
  bottom: 1%;
  left: 10%; }

.modal {
  text-align: right;
  margin: 50px 50px 0 0; }

@keyframes grow {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.05); }
  90% {
    transform: scale(1.02); } }

.modalButton {
  font-family: 'Permanent Marker', cursive;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0 15px;
  background-color: black;
  color: white;
  border: none;
  animation: grow 3s ease-in-out infinite; }

.modalInfo {
  position: absolute;
  left: 20%;
  bottom: 12%;
  width: 50%;
  padding: 70px;
  border-radius: 5%;
  background-color: #fece31;
  z-index: 3; }

.modalInfo h2 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 1.6rem; }

.modalInfo p {
  text-align: left;
  line-height: 40px;
  font-size: 1.2rem; }

.modalInfo i {
  font-size: 1.2rem; }

.goalList {
  width: 30%;
  margin: 0 auto;
  font-size: 0.8rem;
  border: none;
  background-color: white;
  text-align: center;
  position: relative; }

.goalList h4 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  border-bottom: 2px solid pink; }

.goalListForm {
  border: none;
  margin: 0 auto;
  background-color: white;
  width: 70%; }

.goalListForm input[type="text"] {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
  font-size: 0.8rem; }

.goalListForm input[type="submit"] {
  font-size: 0.6rem;
  padding: 10px;
  border: none; }

ul {
  list-style: none;
  padding: 10px;
  margin: 0; }

li {
  border-bottom: 1px solid #ddeaf9;
  margin-bottom: 10px; }

.goalList button {
  border: none; }

.modalButton2 {
  position: absolute;
  top: 2%;
  right: 2%;
  font-family: 'Permanent Marker', cursive;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #29bcb8;
  border: none;
  color: white; }

.modalInfo2 {
  position: absolute;
  left: 33%;
  bottom: 33%;
  width: 30%;
  padding: 40px;
  border-radius: 5%;
  background-color: #fece31;
  font-size: 0.8rem;
  line-height: 20px;
  z-index: 3; }

.modalInfo p {
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem; }

.modalInfo i {
  font-size: 1.2rem; }

@media (max-width: 950px) {
  header {
    display: flex;
    justify-content: flex-end; }
  h1 {
    margin: 0;
    width: 60%;
    font-size: 2.4rem; }
  .bannerContainer2 {
    display: none; }
  form {
    width: 80%; }
  form h2 {
    font-size: 1.8rem; }
  input[type="text"] {
    width: 80%;
    font-size: 1.2rem; }
  input[type="submit"] {
    font-size: 1.2rem; }
  .images0, .images1, .images2, .images3 {
    width: 25%; }
  .modal {
    margin-top: 20px; }
  .modalInfo {
    padding: 20px; }
  .modalInfo p {
    font-size: 0.8rem; } }

@media (max-width: 850px) {
  .goalList {
    width: 35%; }
  .goals .goal0 {
    right: 5%; }
  .goals .goal3 {
    bottom: 20%; } }

@media (max-width: 750px) {
  .bannerContainer1 {
    width: 40%; }
  .modalInfo {
    width: 60%;
    padding: 50px; }
  .modalInfo h2 {
    font-size: 1.2rem; }
  .modalInfo p {
    text-align: left;
    font-size: 1.2rem; }
  .images0, .images1, .images2, .images3 {
    width: 40%; }
  .images0 {
    right: 0; }
  .images2 {
    right: -2%; }
  .images3 {
    bottom: 3%;
    right: 5%; }
  .goals .goal0 {
    top: 20%;
    right: 10%; }
  .goals .goal1 {
    top: 15%;
    left: 10%; }
  .goals .goal2 {
    right: 10%;
    bottom: 25%; }
  .goals .goal3 {
    bottom: 25%;
    left: 5%; }
  .goalList {
    width: 50%;
    position: absolute;
    left: 30%;
    bottom: -40%; } }

@media (max-width: 650px) {
  h1 {
    width: 100%; }
  .bannerContainer1 {
    display: none; }
  .modalInfo p {
    text-align: left;
    font-size: 0.8rem; } }

@media (max-width: 550px) {
  h1 {
    font-size: 1.6rem; }
  .modalInfo {
    left: 10%;
    bottom: 10%; }
  .photoList .images {
    position: static;
    width: 75%;
    margin: 25px auto; }
  .images:first-child, .images:nth-child(3) {
    transform: rotate(1deg); }
  .images:nth-child(2), .images:nth-child(4) {
    transform: rotate(-5deg); }
  .goals h3:first-child {
    top: 15%;
    right: 10%; }
  .goals h3:nth-child(2) {
    top: 50%;
    left: 5%; }
  .goals h3:nth-child(3) {
    bottom: 5%;
    right: 5%; }
  .goals h3:nth-child(4) {
    bottom: -25%;
    left: 10%; }
  .goalList {
    position: static; } }

@media (max-width: 450px) {
  form {
    padding: 30px; }
  form h2 {
    font-size: 1.4rem; }
  input[type="text"] {
    width: 90%;
    font-size: 0.8rem; }
  input[type="submit"] {
    font-size: 0.8rem; }
  .modalInfo {
    padding: 20px;
    left: 8%;
    bottom: 18%;
    width: 70%; }
  .modalInfo p {
    font-size: 1rem; }
  .goalList {
    width: 70%; }
  .goalListForm {
    width: 70%; } }
